.header{
    background-color:white;
    color: black;
    position: fixed; /* Закрепляет элемент */
    top: 0; /* Устанавливает позицию в верхней части страницы */
    left: 0; /* Выравнивание по левому краю */
    right: 0; /* Ширина на всю ширину экрана */
    background-color: white; /* Цвет фона шапки */
    z-index: 1000; /* Устанавливает уровень взаимодействия выше других элементов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавляет теней для улучшения визуального восприятия */
}

.header__list{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;

}
.logo{
    margin-left: 150px;
}
.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
   .header__link{
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: white;
    color: black;
    text-decoration: none;
    transition: all 0.4s ease-out;

   }
   .header__link:hover{
    background-color:rgb(32, 24, 153);
    color: #FFF;
   }
   .header__login{
    display: inline-block;
     padding: 10px;
     margin: 5px;
     background-color: rgb(95, 103, 110);
     color: white;
     text-decoration: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
       }         