.main{
    background-color: white;
    color: black;
}
.card__wrapper{
    display: flex;
    gap: 10px;
   }
   .card__wrap-right{
    width: 500px;
    flex-shrink: 0;
   }
   .card__wrapper{
    background-color: rgb(62, 120, 167);
     color: rgb(255, 255, 255);
     padding: 10px;
    }
    .card__item{
        display: block;
        padding: 10px;
        color: rgb(62, 120, 167);
        background-color: rgb(255, 255, 255);
        text-decoration: none;
        margin-top: auto;
        margin-right: auto;
       }
       .card__wrap-left{
        display: flex;
        flex-direction: column;
       }
              